<div class="container-fluid route-forms">
<div class="form-group">
  {{input type="password"
          class="form-control"
          id="previous"
          placeholder="Old password"
          value=passwords.previous}}
</div>

<div class="form-group">
  {{input type="password"
          class="form-control"
          id="next"
          placeholder="New password"
          value=passwords.next}}
</div>

<div class="form-group">
  {{input type="password"
          class="form-control"
          id="confirmNext"
          placeholder="New password confirmation"
          value=passwords.confirmNext}}
</div>

<div>
<button type="submit" class="btn btn-warning" {{action "submit"}} style="margin-left: 30%;">
  Change Password
</button>
<button class="btn btn-default" {{action "reset"}} style="margin-top: 10px;">
  Cancel
</button>
</div>

</div>
