<div class="container-fluid inline">
<form {{action 'createVehicle' on='submit'}}>
  Make: {{input placeholder='make' value=vehicle.make required='true'}}<br>
  Model: {{input placeholder='model' value=vehicle.model required='true'}}<br>
  Year: {{input type="number" placeholder='year' value=vehicle.year required='true'}}<br>
  Mileage: {{input type="number" max="999999" min="0" placeholder='mileage' value=vehicle.mileage required='true'}}<br>
  <button type='submit'> Create a new vehicle </button>
</form>

{{#link-to 'vehicles' class="links"}}Back to dashboard{{/link-to}}
</div>
