<div class="container-fluid route-forms">
  <form {{action 'createVehicle' on='submit'}}>
    {{input placeholder='Make' value=vehicle.make required='true'}}
    <br>
    {{input placeholder='Model' value=vehicle.model required='true'}}
    <br>
    {{input type="number" placeholder='Year' value=vehicle.year required='true'}}
    <br>
    {{input type="number" max="999999" min="0" placeholder='Mileage' value=vehicle.mileage required='true'}}
    <br>
    <button type='submit' class="btn btn-warning" style="margin-left: 30%;"> Create a new vehicle </button>
    <button class="btn btn-default" style="margin-top: 10px; margin-left: 10px;"> {{#link-to 'vehicles'}}Back to dashboard{{/link-to}}</button>
  </form>
</div>
