<button {{action 'toggleWorkForm'}}> Log new work </button>

<form {{action 'createWork' on='submit'}}>
  {{input placeholder='Name of work' value=work.name required='true'}}
  {{input type="date" placeholder='Date of work' value=work.date}}
  {{input type="number" placeholder='Mileage at time of work' max="999999" min="0" value=work.mileage required='true'}}
  <button type='submit'> Log work </button>
</form>
