<form {{action 'updateVehicle' vehicle on='submit'}}>
  {{input placeholder='make' value=vehicle.make}}
  {{input placeholder='model' value=vehicle.model}}
  {{input placeholder='year' value=vehicle.year}}
  {{input placeholder='mileage' value=vehicle.mileage}}
  <button type='submit'> Update this vehicle </button>
</form>
