<div class="text-center">
  <h2>{{model.make}} {{model.model}}</h2>
  <h4>{{model.year}}</h4>
  <h6>{{model.mileage}}</h6>
</div>

<button {{action 'deleteVehicle' model}}> Delete </button>

{{update-vehicle vehicle=model
                 updateVehicle='updateVehicle'}}

{{#link-to "works"}}See vehicle's works{{/link-to}}
